body {
	background: url(img/bg.jpg) repeat-x;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 60px;
}

.container {
	width: 960px;
}

.header { /* Contains logo, credits and links */
	height: 380px;
}

.radio {
	margin-top: 20px; 
}

.logo {
	margin-top: 20px;
	display: block;
}

.credit {
	color: #fff;
	font-size: 18px;
	text-shadow: 0 2px 3px #000;
	margin: 60px 20px 40px 0;
}
.credit .name a,
.credit .name a:visited {
	color: #fff;
	font-size: 24px;
	line-height: 24px;
	text-decoration: underline;
}
.credit .name a:hover,
.credit .name a:active {text-decoration: none;}

code {
	border-radius: 3px;
	background-color: rgb(248, 248, 248);
	border: 1px solid rgb(221, 221, 221);
	border-bottom-style: solid;
	color: rgb(119, 119, 119);
	display: inline;
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
	font-size: 12px;
	height: auto;
	line-height: 20px;
	margin-bottom: 0 2px;
	padding-bottom: 0 5px;
	white-space: nowrap;
	width: auto;
}